
ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color:#ffffff;
    font-family: 'Georgia';
}
li a {
    border-right: 1px solid #bbb;
    border-block-end-style: 50%;
        
}
li:last-child {
    border-right: none;
}
        
li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    float:left;
    background-color:#4aaaa5;
    font-size: 36px;
    color: #ffffff;
}

.subtleBody  {
    background-image: url("../images/circles-dark.png");
    overflow: auto;
    height: 150%;
}
.aboutMe {
    background-color: #ffffff; 
    width: 900px;
    height: auto;
    margin-left: 20%;
    overflow: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
/* .aboutMeflt {
    background-color: #ffffff; 
    width: 960px;
    height: auto; 
    margin-left: 20%;
    float: left;
}
*/
.formStyle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #777777;
}
.submitBtn{
    width: 100px;
    height: 50px;
    background: #4aaaa5;
    color: #ffffff;
    font-size: 18px;
}
section {
    float: left;
    margin: 0 1.5%;
    width: 40%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #bbb;
  }
  aside {
    float: left;
    margin: 0 1.5%;
    width: 40%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #bbb;
  }
  img{
      width: 250px;
  }
  .footer{
    float:clear;
    color: #ffffff;
    background-color: #666666;
    text-align:center;
    padding:0 20px;
    margin-top:0px;
    line-height: 50px;
  }